<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--<title th:replace="~{fragment/header :: header}">upload</title>-->
    <title>upload</title>
</head>
<body>
<!--<form method="post" action="/u/testAPI" enctype="multipart/form-data">-->
    <!--<input type="file" name="file" ><br/><br/>-->
<form th:action="@{/u/upload}" method="post" enctype="multipart/form-data">
    <label>input</label>
    <input type="file" id="file" name="file">
    <br />
    <input type="submit" value="submit">
</form>

<!--<div th:replace="~{fragment/footer :: footer}"></div>-->
</body>
</html>