<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title th:replace="~{fragment/header :: header}">Title</title>
</head>
<body>
<form th:action="@{/users/edit}" method="post" th:object="${user}">
    <input type="hidden" name="id" th:value="*{id}">

    <label>username</label>
    <input type="text" name="username" th:placeholder="*{username}">

    <label>name</label>
    <input type="text" name="name" th:placeholder="*{name}">

    <label>email</label>
    <input type="email" name="email" th:placeholder="*{email}">

    <div class="form-group">
        <label for="authorities" class="col-form-label">角色</label>
        <select id="authorities" name="authorityId"  data-placeholder="请选择">
            <option value="1" data-th-selected="${#strings.contains(user.authorities[0],'ROLE_ADMIN')}">管理员</option>
            <option value="2" data-th-selected="${#strings.contains(user.authorities[0],'ROLE_USER')}">博主</option>
        </select>
    </div>

    <div>
        <button type="submit">submit</button>
    </div>
</form>
</body>
</html>